<app-header [image]="false"></app-header>
<div class="py-8 px-16 max-w-2xl m-auto">
  <h1 class="font-bold text-2xl pb-4">Mentions légales</h1>

  <p class="font-semibold">Ce site est édité par :</p>

  <pre class="mt-4 mb-8 border rounded-md px-4 py-2 shadow">Micro entreprise les clés du nettoyage
Immatriculé 914 334 560
Clergent julien
24 bis rue Auguste Delaune
94110 arcueil

contact@clesdunettoyage.fr
07 61 82 77 67</pre>


  <p class="pb-8"><span class="font-semibold">Hébergement :</span> Github Pages</p>

  <p class="pb-8"><span class="block font-semibold">Informatique et liberté :</span>
  Aucune information personnelle n'est collectée à votre insu. Les informations que vous nous communiquez lors d’une demande de devis, de renseignements ou d’inscription à la newsletter par courrier, par téléphone, par e-mail ou par formulaire sont uniquement destinées au traitement administratif et commercial de votre demande par la société les clés du nettoyage.
  </p>

  <p class="pb-4">Elles ne font l'objet d'aucune cession à des tiers. La société les clés du nettoyage traite les informations qui vous concernent avec la plus grande confidentialité.</p>

  <p class="pb-4">Il est rappelé que le fait d'accéder ou de se maintenir frauduleusement dans un système informatique, d'entraver ou de fausser le fonctionnement d'un tel système, d'introduire ou de modifier frauduleusement des données dans un système informatique constitue des délits passibles de sanctions pénales.</p>

  <p class="pb-4">Nous nous réservons par ailleurs le droit de modifier les informations ou les éventuelles offres commerciales fournies par le présent site, dans le cadre de nos opérations d'actualisation et de mise à jour des données, et ce sans préavis.</p>
</div>
