<section class="h-screen flex flex-col">
  <div class="max-w-4xl m-auto">
    <div class="flex w-full max-w-4xl py-4 flex-row space-x-4 items-center">
      <img src="assets/logo.png" class="w-16">
      <h1 class="text-4xl uppercase">Les clés du nettoyage</h1>
    </div>
  </div>
  <div id="menu" class="flex w-full py-4 flex-row bg-teal-600 text-white">
    <div class="flex w-5/6 m-auto py-4 px-8 flex-row space-x-16 items-center justify-center">
      <a href="#qui-sommes-nous" class="text-2xl">Qui sommes nous ?</a>
      <a href="#services" class="text-2xl">Nos services</a>
      <!-- <a href="#temoignages" class="text-2xl">Témoignages</a> -->
      <a href="#contact" class="text-2xl">Contact</a>
    </div>
  </div>

  <div class="w-full flex flex-1 bg-[url('assets/carousel-4.jpg')] bg-cover"></div>
</section>
<section>
  <div class="w-5/6 m-auto" id="qui-sommes-nous">
    <div class="flex py-16 flex-row justify-around mt-12">
      <div class="text-2xl w-1/2 font-bold uppercase">Qui sommes nous ?</div>
      <div class="text-lg">Nous sommes une micro entreprise spécialisée dans le nettoyage auprès des professionnels et particuliers.
Notre utilisons toutes les clés du nettoyage pour rendre vos espaces de vie privé et professionnel confortable.</div>
    </div>
  </div>
  <div class="w-5/6 m-auto">
    <div class="flex py-8 flex-row justify-around space-x-12 mb-8">
      <div class="flex space-x-8 items-center">
        <img class="w-32" src="assets/service-de-nettoyage.png">
        <span>Nous nous adaptons à des espaces de travail en évolution permanente: nous sommes proactif et flexible.</span>
      </div>
      <div class="flex space-x-8 items-center">
        <img class="w-32" src="assets/service-de-nettoyage2.png">
        <span>Nous nous déplaçons dans tout le grand paris avec tout le matériel nécessaire.</span>
      </div>
      <div class="flex space-x-8 items-center">
        <img class="w-32" src="assets/recyclage.png">
        <span>Nous utilisons des produits de nettoyage sains avec la mise en place d'une vraie politique de recyclage.</span>
      </div>
    </div>
  </div>
</section>
<section class="pt-16">
  <div class="w-5/6 m-auto" id="services">
    <div class="flex flex-row justify-around">
      <div class="w-1/2 flex flex-col justify-center px-8">
        <h1 class="text-2xl pb-4 font-bold uppercase">Professionnels</h1>
        <p class="text-lg pb-4">Nous intervenons dans tout types de locaux sur Paris et Région parisienne. Nous mettons notre savoir-faire à votre service pour le nettoyage. (ex: Bureau, Locaux...)</p>
        <div><button class="bg-teal-600 px-4 py-2 rounded-md text-gray-100">Contactez nous</button></div>
      </div>
      <div class="w-1/2 aspect-video bg-[url('assets/carousel-2.jpg')] bg-cover"></div>
    </div>
  </div>
</section>
<section>
  <div class="w-5/6 m-auto">
    <div class="flex flex-row justify-around">
      <div class="w-1/2 aspect-video bg-[url('assets/carousel-5.jpg')] bg-cover"></div>
      <div class="w-1/2 flex flex-col justify-center px-8">
        <h1 class="text-2xl pb-4 font-bold uppercase">Particuliers</h1>
        <p class="text-lg pb-4">Faites appel à nos services pour vous épargnez les taches menagères fastidieuses, nous nous adaptons à vos besoins. (ex. État des lieux de sortie, Airbnb...)</p>
        <div><button class="bg-teal-600 px-4 py-2 rounded-md text-gray-100">Contactez nous</button></div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="pt-16">
  <div class="w-5/6 m-auto" id="temoignages">
    <h1 class="text-2xl text-center pb-12 font-bold uppercase">Ils nous ont fait confiance</h1>
    <div class="flex space-x-12">
      <div>
        <p class="text-lg">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit animi et aspernatur sapiente quia fuga labore aliquam doloribus ipsum!"</p>
        <h3 class="text-xl font-semibold">Dominique, Arcueil</h3>
      </div>
      <div>
        <p class="text-lg">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit animi et aspernatur sapiente quia fuga labore aliquam doloribus ipsum!"</p>
        <h3 class="text-xl font-semibold">Olivier, Créteil</h3>
      </div>
      <div>
        <p class="text-lg">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit animi et aspernatur sapiente quia fuga labore aliquam doloribus ipsum!"</p>
        <h3 class="text-xl font-semibold">Sarah, Paris</h3>
      </div>
    </div>
  </div>
</section> -->
<section class="pt-16">
  <div class="w-5/6 m-auto" id="contact">
    <h1 class="text-2xl pb-12 font-bold uppercase">Contact</h1>
    <div class="flex flex-row justify-around space-x-8">
      <div class="w-1/2 h-[1000px]">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScBF2KjWVjCxb0YbsfezP2hUSpECS1Cjw6cHgJNrN6qzgOc0g/viewform?embedded=true" width="640" height="1000" frameborder="0" marginheight="0" marginwidth="0" style="position: relative; left: -32px">Chargement…</iframe>
      </div>
      <div class="w-1/2 flex flex-col justify-center">
        <p class="text-2xl italic font-bold">Entreprise Les clés du nettoyage</p>
        <p class="text-xl font-semibold"><span class="text-2xl">☎️</span> <span class="italic">06 43 16 03 71</span></p>
        <p class="text-xl font-semibold"><span class="text-2xl">✉️</span> <a class="italic underline" href="mailto:lcn@gmail.com">contact@clesdunettoyage.fr</a></p>
      </div>
    </div>

  </div>
</section>
<section class="bg-gray-700 text-white flex h-16 mt-8 justify-center items-center">
  <div class="w-5/6 m-auto flex justify-end" id="footer">
    <a href="/mention-legal" class="font-semibold">Mention légale</a>
  </div>
</section>
